<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dawson</title>
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/product.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header></header>
    <main>
      <div class="productPanelInfo w-100">
        <h1 class="text-center text-dark fw-bold">Control de Productos</h1>
        <p
          class="text-center text-dark w-100 w-sm-75 mx-auto mt-4 mt-md-5 fs-5"
        >
          Bienvenido, este es el panel de control de los productos Dawson. Como
          administrador, podrás crear, modificar y eliminar productos.
        </p>
      </div>

      <button
        class="btn btn-light mt-5 mx-auto d-block"
        data-bs-toggle="modal"
        data-bs-target="#productModal"
      >
        <p class="m-0 p-0 fs-5 fw-bold">Nuevo producto</p>
      </button>
      <div class="table-responsive w-75 mx-auto">
        <table
          id="admin"
          class="table table-bordered table-striped border border-3 mt-2 mx-auto"
        >
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Imagen/Descripción</th>
              <th>Categorias</th>
              <th>Stock</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="tbody"></tbody>
        </table>
      </div>

      <div class="productBanner text-center">
        <img
          src="../Resources/LogoDawson.png"
          alt="LogoDawson"
          class="img-fluid"
        />
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="productModal"
        tabindex="-1"
        aria-labelledby="productModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="productModalLabel">
                Crear nuevo producto
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form id="productForm">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Precio</label>
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="photo" class="form-label">URL Imagen</label>
                  <input
                    type="text"
                    class="form-control"
                    id="photo"
                    name="photo"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Descripción</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    required
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="stock" class="form-label">Stock</label>
                  <input
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="category" class="form-label">Categoría</label>
                  <select
                    class="form-select"
                    id="category"
                    name="category"
                    required
                  >
                    <option value="">Seleccione una categoría</option>
                    <option value="Remeras">Remeras</option>
                    <option value="Sweater">Sweater</option>
                    <option value="Pantalones">Pantalones</option>
                    <option value="Bermudas">Bermudas</option>
                    <option value="Zapatos">Zapatos</option>
                    <option value="Accesorios">Accesorios</option>
                    <option value="Calzado">Calzado</option>
                    <option value="Bolsos">Bolsos</option>
                    <option value="Buzos">Buzos</option>
                    <option value="Gorras">Gorras</option>
                    <option value="Shorts">Shorts</option>
                    <option value="Vestidos">Vestidos</option>
                    <option value="Sudaderas">Sudaderas</option>
                    <option value="Carteras">Carteras</option>
                    <option value="Zapatillas">Zapatillas</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button
                  hidden
                  type="button"
                  name="idHidden"
                  id="idHidden"
                ></button>
              </form>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../JS/products.js"></script>
    <script type="module" src="../validations/product-validations.js"></script>
    <script
      src="https://kit.fontawesome.com/1cc1d82c1f.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
