:root {
  --colorPrimary: #d8aa54;
  --colorSecond: #2ec4b6;
  --colorThird: #8bebe4;
}

main {
  margin-top: 100px;
}

.containerDetail {
  background-color:#E7C991;
  min-height: 300px;
}

.divCarrito {
  position: fixed;
  bottom: 140px;
  right: -40px;
  z-index: 100;
}

.btnCarrito {
  position: relative;
}

.numeritoCarrito {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
}

.btnAddToCart{
  /* margin-top: 50px; */
  margin-left: 50px;
  background-color: var(--colorSecond) !important;
  border: 1px solid var(--colorSecond) !important;
}

.btnAddToCart:hover {
  background-color: var(--colorThird) !important;
  border: 1px solid var(--colorThird) !important;
  color: #000 !important;
}

@media (min-width: 992px) {
  #divOtrosDetalles {
    display: flex;
    justify-content: space-between;
  }

  #divBtnAddToCart{
    align-self: flex-end;;
  }
}