main {
  margin-top: 120px;
}

.containerDetail {
  background-color: #d8aa54;

  min-height: 300px;
}

.divCarrito {
  position: fixed;
  bottom: 140px;
  right: -40px;
  z-index: 100;
}

.btnCarrito {
  position: relative;
}

.numeritoCarrito {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
}

.btnAddToCart{
  /* margin-top: 50px; */
  margin-left: 50px;
}