:root {
  --colorPrimary: #D8AA54;
  --colorSecond: #2ec4b6;
  --colorThird: #cbf3f0;
}

main {
  margin-top: 60px;
}

.btnLogin {
  background-color: var(--colorPrimary) !important;
  border: 1px solid var(--colorPrimary) !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

.btnRegister {
  color: var(--colorPrimary);
  text-decoration: none;
  font-weight: 600;
}

.btnRegister:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

#btnIniciarSesion {
  background-color: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  color: #000000;
  font-weight: 600;
}

#btnIniciarSesion:hover {
  background-color: #c58c22;
}

.btnCerrarSesion {
  background-color: var(--colorPrimary) !important;
  border: 1px solid var(--colorPrimary) !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

.btnAdmin {
  background-color: var(--colorPrimary) !important;
  border: 1px solid var(--colorPrimary) !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

#login {
  width: 350px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  padding: 30px 40px;
}

#bodyLogin {
  background: url('../Resources/fondoLogin2.webp') no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
}

#email, #password{
  background: transparent;
}

#labelPassword, #forgotPassword {
  font-size: x-small;
}

@media (min-width: 992px) {
  #login {
    width: 420px;
  }
  #labelPassword, #forgotPassword {
    font-size: small;
  }
}

