:root {
  --colorPrimary: #D8AA54;
  --colorSecond: #2ec4b6;
  --colorThird: #cbf3f0;
}

main {
  margin-top: 60px;
}

.btnLogin {
  background-color: var(--colorPrimary) !important;
  border: 1px solid var(--colorPrimary) !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

.btnRegister {
  color: var(--colorPrimary);
  text-decoration: none;
  font-weight: 600;
}

.btnRegister:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

#btnIniciarSesion {
  background-color: var(--colorSecond);
  border: 1px solid var(--colorSecond);
  color: #000000;
}

#btnCerrarSesion {
  background-color: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  color: #000000;
}

#btnAdmin {
  background-color: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  color: #000000;
}

.bx {
  font-size: 30px;
  cursor: pointer;
}

.inputGroup {
  position: relative;
}

#showPassword {
  position: absolute;
  left: 320px;
  bottom: 3px;
}


@media (min-width: 992px) {
  #showPassword {
    left: 410px;
  }
  
}

